body{
    background-color: coral;
}

#welcometxt{
    text-align: center;
    font-size: 5rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color: rgb(255, 255, 255);
}
#imgpum{
    width: 150px;
    height: 100px;
}
#pumpkinimgdiv{
    padding-top: 50px ;
    text-align: center;
}
#optionsdiv{
    padding-top: 5rem;
    text-align: center;
}