body {
background-color: #e6d3d3;
}


.images{
height: 150px;
width: 200px;
}

#butdiv{
display: flex;
justify-content: center;
margin-top: 20%;
}

#info{
text-align: center;
font: 2rem sans-serif;
}


#bigBtn {
padding-left: 120px;
padding-top: 50px;
padding-right: 120px;
padding-bottom: 50px;
cursor: pointer;
background: #3b9855;
font: 6rem sans-serif;
-webkit-text-stroke: black 2px;
border: none;
border-radius: 15px;
color: white;
box-shadow: #3b9855 0px 10px 20px;
}
#bigBtn:active {
transform: translateY(4px);
box-shadow: #3b9855 0px 6px 6px;
}